.container {
  width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.wrapper {
  width: 450px;
  margin: 0 auto;
  border: 1px solid;
}

.title {
  text-align: center;
}
.spiner_box {
  position: relative;
}

.spiner {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.error {
  text-align: center;
}